<header class="header">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="d-flex align-items-center"><a class="menu-btn d-flex align-items-center justify-content-center p-2 bg-gray-900" id="toggle-btn" href="#">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy text-white">
                <use xlink:href="#menu-1"> </use>
              </svg></a><a class="navbar-brand ms-2" href="{{ url_for('static', filename='index.html') }}">
              <div class="brand-text d-none d-md-inline-block text-uppercase letter-spacing-0"><span class="text-white fw-normal text-xs">Fishbook </span><strong class="text-sm">   Dashboard</strong></div></a></div>
        </div>
      </div>
    </nav>
</header>